<!--<form method="post" action="polls/">
<video id="video" width="640" height="480" autoplay></video>
<input type="hidden" id="hidden_id" name="hidden_name" value="">
<button id="snap">Snap Photo</button>
</form>

<script>
var video = document.getElementById('video');

if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
        video.src = window.URL.createObjectURL(stream);
        video.play();
    });
}
else if(navigator.getUserMedia) { // Standard
    navigator.getUserMedia({ video: true }, function(stream) {
        video.src = stream;
        video.play();
    }, errBack);
} else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
    navigator.webkitGetUserMedia({ video: true }, function(stream){
        video.src = window.webkitURL.createObjectURL(stream);
        video.play();
    }, errBack);
} else if(navigator.mozGetUserMedia) { // Mozilla-prefixed
    navigator.mozGetUserMedia({ video: true }, function(stream){
        video.src = window.URL.createObjectURL(stream);
        video.play();
    }, errBack);
}

document.getElementById("snap").addEventListener("click", function() {
        var canvas = document.createElement('canvas');
        canvas.width = 640;
        canvas.height = 480;
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');

	context.drawImage(video, 0, 0, 640, 480);

        
        var dataURL = canvas.toDataURL();
        var imageData = canvas.toDataURL('image/png');
        document.getElementsByName("hidden_name")[0].setAttribute("value", imageData);        
        document.forms[0].submit();

});

</script>
-->

<!--
<html>
  <head>
  </head>
  <body>
    Rezultati za sliku su navedeni u dijelu iza slike je li logično!
    <img src="../../slika_fer_nesto.jpeg">
  </body>
</html>
-->


<html>
<head>
</head>
<body>
Rezultati za sliku su navedeni u dijelu iza slike je li logično
!<br/>
{% load staticfiles %}
<img src="{% static "slika_fer_ness.jpeg" %}" style="width:480px;height:640px;">
</body>
</html>
