<html>
  <head>
  </head>
  <body>
    Rezultati za sliku su navedeni u dijelu iza slike je li logično!
    <br/>
    <script>
      var data = '{{slika}}';
      var image = new Image();
      image.src = data;
      document.body.appendChild(image);
    </script>
    {% for lice in rezultati %}
      <p>Rezultat za lice:</p>
      <script>
        var d = '{{lice.0}}'
        var image = new Image();
        image.src = d;
        document.body.appendChild(image);
      </script>
      <p>{{ lice.1 }}</p>
    {% endfor %}
  </body>
</html>
